body {
	padding:0;
  margin:0;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.head {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.main {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Header */
header {
	background: #ffffff;
	border-bottom: solid #cccccc;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

h1 {
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	margin: 0;
	padding: 20px;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	font-size: 20px;
	margin-left: 35px;
	padding-top: 10px;
}

nav a {
	color: #777777;
	text-decoration: none;
}

/* Sidebar */
h3 {
	color: #4aaaa5;
	margin: 20px 45px 20px 45px;
	padding-bottom: 20px;
	border-bottom: solid #dddddd;
	text-align: center;
}

#sidebar, #portbar {
	float: right;
	background-color: #ffffff;
	width: 270px;
	padding-bottom: 20px;
}

img {
	margin: 0px 20px 0px 20px;
}

.icons {
	text-align: center;
}

.icon {
	margin: 0px 5px 0px 5px;
	width: 50px; 
	height: 50px;
}

/* Main Content */
section {
	background-image: url(../images/white_wall.png);
	overflow: auto;
}

article {
	background-color: #ffffff;
	width: 650px;
	margin: 50px 0px 50px 0px;
	padding-bottom: 25px;
}

h2 {
	color: #4aaaa5;
	margin: 20px 20px 20px 20px;
	padding: 20px 0 20px 0;
	border-bottom: solid #dddddd;
}

/* About Me */
.me {
	width: 200px;
	height: 150px;
}

p {
	margin: 0px 20px 0px 20px;
	line-height: 200%;
	color: #777777;
}

/* Portfolio */
#portfolio {
	background-color: #ffffff;
	width: 650px;
	height: 850px;
	margin: 50px 0px 50px 0px;
	padding-bottom: 25px;
	overflow: hidden;
}

.projects {
	position: relative;
	width: 280px;
	height: 200px;
	padding-bottom: 50px;
}

.second {
	left: 325px;
	bottom: 294px;	
}

.third {
	bottom: 350px;
}

.fourth {
	left: 325px;
	bottom: 644px;	
}

.fifth {
	bottom: 700px;
}

.label {
	position: relative;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	width: 280px;
	z-index: 2;
}

.hangman {
	top: 175px;
}

.rpggames {
	left: 325px;
	bottom: 119px;
}

.trivia {
	bottom: 175px;
}

.widget {
	left: 325px;
	bottom: 469px;
}

.rps {
	bottom: 525px;
}

/* Contact */
form {
	margin-left: 20px;
	color: #777777;
}

input, textarea {
	width: 600px;
}

textarea {
	max-width: 600px;
	height: 200px;
}

.btn {
	width: 100px;
	border: none;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 15px;
	padding: 15px;
}

/* Footer */
footer {
	background: #666666;
	color: white;
	margin: 0;
	padding: 30px;
	text-align: center;
	font-size: 12px;
	border-top: 5px solid #4aaaa5;
}

/* Media Queries */
@media (max-width: 980px) {
	.container {
		width: 800px;
	}

	article {
		width: 500px;
	}

	.me {
		width: 460px;
		height: auto;
		padding-bottom: 20px;
	}

	#portfolio {
		width: 500px;
		height: 1850px;
	}

	.projects {
		width: 460px;
		height: 300px;
	}

	.second {
		left: 0px;
		bottom: 50px;	
	}

	.third {
		bottom: 100px;
	}

	.fourth {
		left: 0px;
		bottom: 150px;	
	}

	.fifth {
		bottom: 200px;
	}

	.label {
		width: 460px;
	}

	.hangman {
		top: 270px;
	}

	.rpggames {
		left: 0px;
		top: 220px;
	}

	.trivia {
		top: 170px;
	}

	.widget {
		left: 0px;
		top: 120px;
	}

	.rps {
		top: 70px;
	}

	input, textarea {
		width: 460px;
	}

	textarea {
		max-width: 460px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 700px;
	}

	#sidebar, #portbar {
		position: relative;
		float: none;
		width: 700px;
		top: 600px;
	}

	h3 {
		padding-top: 20px;
	}

	article {
		position: relative;
		width: 700px;
		bottom: 200px;
	}

	#portfolio {
		width: 700px;
		height: 550px;
	}

	.projects {
		width: 315px;
		height: 150px;
	}

	.first {
		bottom: 50px;
	}

	.second {
		left: 345px;
		bottom: 294px;	
	}

	.third {
		bottom: 380px;
	}

	.fourth {
		left: 345px;
		bottom: 624px;	
	}

	.fifth {
		bottom: 710px;
	}

	.label {
		width: 315px;
	}

	.hangman {
		top: 85px;
	}

	.rpggames {
		left: 345px;
		top: -159px;
	}

	.trivia {
		top: -245px;
	}

	.widget {
		left: 345px;
		top: -489px;
	}

	.rps {
		top: -575px;
	}


	input, textarea {
		width: 660px;
	}

	textarea {
		max-width: 660px;
		height: 200px;
	}
}

@media (max-width: 640px) {
	.container {
		width: 100%
	}

	h1, nav {
		float: none;
		text-align: center;
	}

	nav {
		position: relative;
		right: 60px;
	}

	nav ul{
		padding-left: 0px;
	}

	nav li {
		margin-left: 125px;
	}

	article, #sidebar {
		width: 600px;
	}

	article {
		left: 13px;
		bottom: 210px;
	}

	#portbar {
		width: 600px;
		top: 1925px;
		left: 13px;
		z-index: 2;
	}

	#portfolio {
		width: 600px;
		height: 1850px;
	}

	.projects {
		width: 560px;
		height: 300px;
	}

	.first {
		bottom: 25px;
	}

	.second {
		left: 0px;
		bottom: 80px;	
	}

	.third {
		bottom: 135px;
	}

	.fourth {
		left: 0px;
		bottom: 190px;	
	}

	.fifth {
		bottom: 245px;
	}

	.label {
		width: 560px;
	}

	.hangman {
		top: 255px;
	}

	.rpggames {
		left: 0px;
		top: 190px;
	}

	.trivia {
		top: 140px;
	}

	.widget {
		left: 0px;
		top: 85px;
	}

	.rps {
		top: 30px;
	}

	input, textarea {
		width: 560px;
	}

	textarea {
		max-width: 560px;
		height: 300px;
	}
}